*
{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}

body
{
     font-family: 'Poppins', sans-serif;
     background-color: #fff;
     line-height: 1.6rem;
}

nav
{
     justify-content: space-between;
     color: #fff;
     background-color: #333;
     padding: 1.2rem;
     opacity: 0.8;
     align-items: center;
}

nav ul
{
     list-style-type:none;
}

nav a
{
text-decoration: none;
color: #fff;
}

nav h1
{
     font-size: 55px;

}

nav li
{
     margin-right: 20px;
     text-decoration: underline;
}

.hero
{
     background-image: url(../freelancingwebsite/imagesoffreelancing/hero.webp);
     background-size: cover;
     background-position: center center;
     height: 100vh;

}

.content
{
     align-items: center;
     justify-content: center;
     height: 100%;
}

.gat{
     margin: 20px 0 40px 0;
}

.gat1{
     justify-content: center;
     align-items: center;
     padding-bottom: 10px;

}
.gat1 h5{
     color: #839399;
 
 }

 /* .gat2 icons{
     width: 40px;
     height: 40px;
     border-radius: 2px;

 } */

 .gat2{
     padding: 20px;
     justify-content: space-evenly;
 }

 .gat2 .icons
 {   
     height: 35px;
     width: 35px;
     border-radius: 50%;
     background-color: #28a745;
     color: #fff;
     padding: 7px;
 }

 .gat h4{
     padding: 5px;
 }

.succstories{
     margin: 20px 0 40px 0;
}


.ss1{
     justify-content: center;
     align-items: center;
     padding-bottom: 10px;
}

.ss1 h5{
     color: #839399;
     
 }

 .ss2{
     padding: 20px;
 }

 .ss2 .part-1
 {
     background-color: #ededed;
     width: 50%;
     /* display: inline-block; */
     justify-content: center;
     align-items: center;
 }


 .ss2 .part-2{

     width: 50%;
     display: inline-block;
     background-size:cover;
 }


 .ss2 .twoparts
 {
     margin: 10px;
 }
 





