.d-flex
{
    display: flex;
}

.text-success
{
    color: #28a745;
}

.btn
{
/* border: 2px solid; */
border-radius: 5px;
text-decoration: none;
padding: 10px;
}

.btn-success
{
    background-color: #28a745;
    color: #fff;
}
.d-col
{
    flex-direction: column;
}


.commonheading
{
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;

}
.commonheading h5{
    color: #839399;
}

/* common margin */

.commonmargin
{
    margin: 20px 0 40px 0;
}

